@import "fonts";

//@mainColor: #3f4973;
//@fontColor: #fff;
//@boxShadow: 8px 8px 30px 0px rgba(36, 41, 66, 0.8), -8px -8px 30px 0px rgba(73, 85, 136, 0.8);
//@textShadow: 0px 0px 5px rgba(252, 247, 247, 0.25);
//@textShadowHover: 0px 0px 5px rgba(252, 247, 247, 0.8);
//@inputBg: #d2dbe55;
//@inputBorder: 2px solid #ced6df;
//@buttonBorder: 1px solid rgba(123, 140, 219, 0.3);
//
//@inputBg: #cfd6dd;
//@inputColor: #000;
//@inputPlaceholderColor: rgba(0, 0, 0, 0.4);
//@inputBorder: 1px solid #d8dde3;
//@inputFocusBg: #dce3ea;
//@inputFocusBorder:  1px solid #eaedf1;
//@inputFocusBoxShadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.25);
//@tableBg: rgba(0, 0, 0, 0.1);


//.white {
  @fontColor: #000;
  @mainColor: #E1E6EC;
  @boxShadow: 8px 8px 20px 0px rgba(32, 32, 34, 0.2), -8px -8px 20px 0px rgba(255, 255, 255, 0.2);
  @textShadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  @textShadowHover: 0px 0px 5px rgba(0, 0, 0, 0.4);
  @buttonBorder: 1px solid rgba(255, 255, 255, 0.7);

  @inputBg: #cfd6dd;
  @inputColor: #000;
  @inputPlaceholderColor: rgba(0, 0, 0, 0.4);
  @inputBorder: 1px solid #d8dde3;

  @inputFocusBg: #dce3ea;
  @inputFocusBorder:  1px solid #eaedf1;

  @inputFocusBoxShadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.9);
 @tableBg: rgba(0, 0, 0, 0.1);

//}



.noselect() {
  user-select: none;
}

html, * {
  font-family: "Calibri", serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: @mainColor;
  color: @fontColor;
}

button:focus, input:focus, textarea:focus, select:focus {
  outline: none;
}

input:not([type="button"]):not([type="submit"]):not([type="reset"]):hover, input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus, textarea:hover, textarea:focus, select:hover, select:focus {
  //border-color: rgba(255, 255, 255, 0.5);
  border: @inputFocusBorder;
  box-shadow: @inputFocusBoxShadow;
}

@footerHeight: 100px;

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: @footerHeight * 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: @footerHeight;
  background-color: @mainColor;
  border: none;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.content-block {
  max-width: 368px;
  margin: auto;

  padding: 16px;

  border-radius: 20px;
  background: @mainColor;
  box-shadow: @boxShadow;
  border: @buttonBorder;
  border-bottom-width: 0;
  border-right-width: 0;
}

.content-block label {
  font-size: 20px;
  font-weight: bold;
}

.content-block input {
  display: block;
  width: 97%;
  height: 55px;

  color: @inputColor;
  background-color: @inputBg;
  border: @inputBorder;

  border-radius: 8px;
  font-size: 18px;
  margin-bottom: 8px;
  transition: border-color 200ms;
}

.content-block input::placeholder {
  color: @inputPlaceholderColor;
}

.content-block input:focus {
  background-color: @inputFocusBg;
  border: @inputFocusBorder;
  box-shadow: @inputFocusBoxShadow;
}


.content-actions {
  text-align: center;
  margin-top: 20px;
}

.button, a.button {
  height: 80px;

  border-radius: 20px;

  background: @mainColor;
  box-shadow: @boxShadow;
  border: @buttonBorder;
  border-bottom-width: 0;
  border-right-width: 0;

  text-shadow: @textShadow;
  color: @fontColor;
  font-size: 20px;
  text-transform: uppercase;

  transition: box-shadow 200ms, text-shadow 200ms;

  .noselect();
}

.button:hover, a.button:hover {
  background: @mainColor;
  border: @buttonBorder;
  border-bottom-width: 0;
  border-right-width: 0;
  text-shadow: @textShadowHover;
  //transform: scale(1.1);
  //box-shadow: 8px 8px 20px 0px rgba(36, 41, 66, 0.8), -8px -8px 20px 0px rgba(145, 158, 241, 0.8);
}

.button:focus, a.button:focus, .button.active {
  background: @mainColor;
  border: @buttonBorder;
  text-shadow: @textShadow;
  border-bottom-width: 0;
  border-right-width: 0;
}

//.button:focus, .button:active, a.button:active, a.button:focus, .button.active {
.button:active, a.button:active, .button.active {
  background: @mainColor;
  box-shadow: none;
  border-color: transparent;
}

.balance-block {
  text-align: center;
  margin: 20px auto;

  .title {
    font-size: 30px;
  }

  .balance {
    font-size: 40px;
    font-weight: bold;
    text-shadow: @textShadow;
  }

  .balance-currency {
    font-size: 20px;
    color: #a6a6ac;
    font-weight: bold;
  }
}

.spend {

  text-align: center;
  max-width: 368px;
  margin: 20px auto;

  .title {
    font-size: 20px;
    color: #a6a6ac;
    font-weight: bold;
  }

  .spend-card {
    display: inline-block;
    margin: 16px 0px;
    width: 100%;
    max-width: 368px;
    height: 190px;

    border-radius: 20px;

    box-shadow: @boxShadow;
    border: 1px solid rgba(123, 140, 219, 0.3);
    border-bottom-width: 0;
    border-right-width: 0;
    box-sizing: border-box;

    transition: box-shadow 200ms;
    .noselect();
  }

  .spend-card:hover, .spend-card:focus, .spend-card:active {
    box-shadow: none;
    border-color: transparent;
  }
}

.admin-landing-block {
  margin-top: 40px;
  padding: 10px;
}

.admin-block {
  width: 100%;
  padding-bottom: 40px;
}


.admin-landing {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;

  h1, h2 {
    text-transform: uppercase;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;

    .noselect();
  }
}

.create-campaign-btn {
  width: 220px;
  font-size: 18px;
  display: block;
  margin: 0px auto 20px;
}

.admin-input-row {
  position: relative;
  display: block;
}

.admin-input {
  margin-bottom: 10px;

  label {
    display: block;
    padding: 0;
    //margin-bottom: 6px;
    font-size: 20px;
    //padding-left: 4px;
  }

  input, textarea {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 20px;

    height: 55px;
    color: @inputColor;
    background-color: @inputBg;
    border: @inputBorder;
  }

  input::placeholder, textarea::placeholder {
    color: @inputPlaceholderColor;
  }

  input:focus, textarea:focus {
    background-color: @inputFocusBg;
    border: @inputFocusBorder;
    box-shadow: @inputFocusBoxShadow;
  }

  textarea {
    resize: none;
    min-height: 100px;
  }
}

.admin-input.inline {
  float: left;
  width: 40%;
}

.admin-input.inline + .admin-input.inline {
  margin-left: 20%;
}

.campaign-admin {
  max-width: 414px;
  margin: auto;

  h2 {
    margin: 10px;
    text-align: left;

    .noselect();
  }
}

@buyMargin: 50px;

.buy-block {
  text-align: center;
  height: auto;
  line-height: 114px;
  width: 140 * 2 + @buyMargin;
  margin: auto auto 30px;
}

.campaign-buy-btn.copy-address {
  padding-left: 30px;
}

.campaign-buy-btn-wrapper {
  width: 140px;
  display: block;
  float: left;
}

.campaign-buy-btn, a.campaign-buy-btn {
  width: 140px;
  height: 114px;

  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;

  //padding: 0px;

  .address-prefix-wrapper {
    position: relative;
  }

  .address-prefix {
    position: absolute;
    left: -24px;
    top: 0px;
    //font-size: 26px;
    font-weight: bold;
    z-index: 1;
  }
}

.campaign-buy-btn > .address-label {
  font-family: monospace;
  text-transform: none;
}

.campaign-buy-btn-wrapper + .campaign-buy-btn-wrapper {
  margin-left: @buyMargin;
}


.address-input-hidden {
  position: absolute;
  display: block;
  left: -9999px;
}

.copied-message-wrapper {
  position: relative;
}

.copied-message {
  position: absolute;
  width: 140px;
  height: 114px;
  border-radius: 20px;
  top: -10px;
  left: -31px;
  //line-height: 114px / 3;
  //background-color: @mainColor;
  //background-color: @mainColor;
  font-weight: bold;
  z-index: 2;
  //transform-origin: 50% 50%;
  //transform: scale(0);
  transition: opacity 200ms;
  padding-top: 30px;
}

.address-label {
  transition: opacity 200ms;

}

.address-label > *, .address-prefix > *{
  font-family: monospace;
  text-transform: none;
}

.summary {
  margin-bottom: 10px;
  font-size: 30px;
}

.summary-label, .summary-value {
  font-size: 30px;
}

.share-text {
  .noselect();
}

.share-text, .share-link {
  font-size: 20px;
}

.share-btn {
  width: 100%;
  padding: 0px;
  margin: 20px auto;
}

.share-link {
  font-weight: bold;

  a {
    color: @fontColor;
  }
}

.campaign-admin-summary {
  max-width: 94%;
  margin: auto auto 0px;

}


.fade-enter-active, .fade-leave-active {
  transition: opacity 200ms;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.login-btn {
  font-size: 50px;
  padding: 0px 20px;
  height: auto;
  //line-height: 50px;
  //height: 40px;
}

.spend .no-active {
  filter: grayscale(100%);
  box-shadow: none;
}

.password-hint {
  padding: 16px;
  font-size: 20px;
  text-align: center;
}

.spend-success-message {
  padding: 16px;
  font-size: 25px;
  text-align: center;
}

.tabs {
  max-width: 414px;
  margin: auto;
  text-align: center;
}

.btn-tab {
  font-size: 50px;
  height: auto;
}

.btn-tab + .btn-tab {
  margin-left: 20px;
}

.back-btn {
  position: relative;
  font-size: 30px;
  width: 120px;
  height: 60px;
  padding: 5px;
  margin: 10px 0 20px;

  i {
    position: absolute;
    top: 10px;
    left: 4px;
  }

  span {
    position: absolute;
    top: 5px;
    left: 38px;
  }
}

.tip {
  font-size: 20px;
  margin-bottom: 8px;
  .noselect();
}

.runout-of-gifts {
  padding: 100px 20px;
  font-size: 30px;
  text-align: center;
}

.instant-send-btn {
  font-size: 30px;
  height: auto;
  padding: 10px 20px;
}

.tab-tip {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}

.bipto {
  //padding-top: 16px;
}
.bipto img {
  border-radius: 20px;
  margin-top: 16px;
}

.spend-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.spend-error-message {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  color: #FF4F4F;
  text-align: left;
}

.push-wallet-link {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 0 16px;
}

.wallets-stat {
  margin-top: 32px;
}

.push-wallet-link, .sharings-stat-head, .wallets-stat {
  .table {
    display: table;
    width: 100%;
    font-size: 20px;
  }

  .tr {
    display: table-row;
  }

  .head {
    //font-weight: bold;
  }

  .td {
    display: table-cell;
    width: 20%;
  }

  .td-small {
    display: table-cell;
    width: 10%;
  }

  .td-big {
    display: table-cell;
    width: 30%;
  }
  .td-middle {
    display: table-cell;
    width: 40%;
  }
}

.wallets-stat {
  .td, .td-small, .td-big {
    font-size: 14px;
    padding: 10px;
  }

  .head {
    font-size: 20px;
    background-color: @tableBg;

    .td, .td-small, .td-big {
      //height: 36px;
      //line-height: 36px;
    }
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}

.sharings-stat-head {
  width: 100%;
  margin-bottom: 10px;

  .td {
    //padding: 4px;
    font-size: 15px;
    font-weight: bold;

    //border-top: none;
    //border-bottom: none;
  }

  .td + .td {
    border-left: 2px solid #999999;
  }

  .sep {
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: #999999;
  }
}

a.open-wallet {
  padding-top: 23px;
}

.campaign-admin-desktop-share {
  margin: 20px auto 0px;
  max-width: 414px;
  //width: 100%;
  text-align: center;

  .share-text, .share-link {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
  }
}


.share-block {
  margin-bottom: 30px;
}

.sms-share {
  position: relative;
  max-width: 250 + 90px;
  text-align: center;
  margin: 30px auto 30px;
}

.sms-input-block {
  width: 230px;
  float: left;
}

.sms-send {
  display: block;
  width: 100px;
  height: 70px;
  float: left;
  margin: -8px 0 0 10px;
}

.share-desktop-btns {
  width: 102px * 3 + 24 * 2;
  margin: 16px auto;
  clear: both;
  //float: left;
}

.share-desktop-btn {
  width: 102px;
  height: 80px;
  text-align: center;

  img {
    height: 100%;
  }
}

a.share-desktop-qr {
  position: relative;
  //display: block;
  //float: left;
  margin: 10px 0px 0px 8px;
  padding: 0;
  width: 330px;
  height: 330px
}

img.qr-code {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 200px;
  border-radius: 20px;
  display: block;
  width: 330px;
  height: 330px;
}

div.share-desktop-qr {
  position: relative;
  width: 100%;
  min-width: 200px;
  height: auto;
  //display: block;
  //float: left;
  margin: 20px 0px 0px 0px;
  padding: 0;

  img.qr-code {
    position: relative;
    width: 100%;
    height: auto;
  }

}

.qr-wrapper {
  //margin-top: 16px;
}
.landing-wrapper {

}

img.landing {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;

  margin-top: 20px;

  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  //height: 590px;
}

.github-link-wrapper {
  width: 60px;
  height: 60px;
  margin: 20px auto;
  background-color: transparent;
}

.github-link {
  width: 60px;
  height: 60px;
  background-color: transparent;
  opacity: 0.3;
  transition: opacity 0.2s;
}

.github-link:hover {
  opacity: 1;
}

.github-link img {
  width: 100%;
  height: auto;
  background-color: transparent;
}

@media screen and (min-width: 600px) {
  .summary {
    //text-align: center;
  }

  .create-campaign-btn {
    width: 220px;
    font-size: 18px;
    display: inline-block;
    margin: 0px 20px;
    //margin: 0px auto 20px;
  }
}

@media screen and (max-width: 600px) {

  .button:hover, a.button:hover {

    text-shadow: @textShadow;
  }
}

@media screen and (max-width: 320px) {
  .campaign-buy-btn-wrapper + .campaign-buy-btn-wrapper {
    margin-left: 10px;
  }


  .buy-block {
    text-align: center;
    //height: 114px;
    //line-height: 114px;
    width: 140 * 2px + 10px;
    margin: auto auto 30px;
  }

  .btn-tab {
    font-size: 40px;
  }

  .btn-tab + .btn-tab {
    margin-left: 10px;
  }
}

.back-btn path {
  stroke: white;
}

.white .back-btn path {
  stroke: black;
}
